Flask; python_version > '3.6'
Flask==2.3.3; python_version < '3.7'
Werkzeug==3.0.1; python_version > '3.6'
Werkzeug==2.3.7; python_version < '3.7'
gunicorn==22.0.0
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy==3.0.2
requests==2.26.0
beautifulsoup4==4.10.0
biopython
PyMySQL
openai
